@import url('https://fonts.googleapis.com/css?family=Patua+One');

@keyframes animacaoIndex {
  50%{
    border-radius: 35px;
    padding-top: 3%;
    padding-bottom: 3%;
  }
}

body {
  background-color: #FF4040;
  color: #FFF;
}

.divs {
  position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 600px;
  text-align: center;
}

h1{
  font-family: 'Patua One', cursive;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.divs#index h1{
  font-size: 40px;
}

.divs a {
  background-color: #FFF;
  padding: 2%;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #FF4040;
}

path {
  fill: #FF4040;
}

.alterar a{
  margin: 2%;
  padding-left: 10px;
  padding-right: 10px;
}

a#remover:hover {
  background-color: #8B1A1A;
}

a#remover:hover  path {
  fill: #fff;
}

a#editar:hover {
  background-color: #FF3030;
  color: #fff;
}

a#editar:hover  path {
  fill: #ffffff;
}

input {
  padding: 3%;
  border-radius: 5px;
}

#listaContatos {
  overflow-y: auto;
}

#adicionar {
  background-color: #EE3B3B;
  color: #fff;
  animation: animacaoIndex 6s linear infinite;
}

#verLista {
  animation: animacaoIndex 6s linear infinite;
}

td {
  border-left-width: 0;
  min-width: 100px;
  height: 30px;
}

label {
  text-transform: uppercase;
}

input[type=text], input[type=email]{
  border: none;
}

input[type=submit], input[type=button]{
  border: none;
  color: #fff;
  padding-left: 27px;
  padding-right: 27px;
  background-color: #EE3B3B;
}